@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-link{
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: 0;
    margin: 14px 0px;
}